<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>borrow a book</title>
</head>
<body>
<h1>borrow a book</h1>
<form action="/borrow" method="post">
    {% if not title %}
        <input type="text" name="book" id="book" placeholder="book title"><br>
    {% else %}
        <input type="text" name="book" id="book" value="{{ title }}"><br>  
    {% endif %}
    <input type="date" name="return_date" id="return_date" placeholder="return date"><br>
    <input type="text" name="student_name" id="student_name" placeholder="student name">
    <input type="text" name="student_class" id="student_class" placeholder="class"><br>
    <input type="text" name="librarian" id="librarian" placeholder="librarian">
    <input type="submit" value="borrow">
</form>
</body>
</html>