{% extends 'base.html' %}
{% block title %}
   borrow 
{% endblock %}
<body>
{% block content %}
<h3>borrow a book</h3>
<form action="/borrow" method="post">
    {% if not title %}
        <input type="text" name="book" id="book" placeholder="book title"><br>
    {% else %}
        <input type="text" name="book" id="book" value="{{ title }}"><br>  
    {% endif %}
    <input type="date" name="return_date" id="return_date" placeholder="return date"><br>
    <input type="text" name="student_name" id="student_name" placeholder="student name">
    <input type="text" name="student_class" id="student_class" placeholder="class"><br>
    <input type="text" name="librarian" id="librarian" placeholder="librarian"><br>
    <input type="submit" value="borrow">
</form>
{% endblock %}
</body>