<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOIS Library</title>
    <style>
        .alert {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Welcome to MOIS library</h1>
    <a href="/search">Browse books</a><br>
    <a href="/view_borrows">view borrows</a><br>
    <a href="/add_book">Add a new book</a>

    <div class='container success'>
        {% if added_book %}
            <h3 class="alert">successfully added a new book</h3>
        
        {% elif name_registered and borrow_id and book %}
            <h3 class="alert">{{name_registered}} borrowed {{book}} with borrow id of {{borrow_id}}</h3>
        {% endif %}
    </div>
</body>
</html>