{% extends 'base.html' %}
{% block title %}
    Browse Book
{% endblock %}
{% block content %}
    <form action="/search" method="get">
        <select name="subject" id="subject">
            <option value="">all</option>
            {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select>
        <label for="only_available">show available books only</label>
        <input type="submit" name="only_available" value="on">
        <br>
        <input type="submit" value="search">
    </form>

    <div>
        <table border="1" cellpadding="2" cellspacing="2">
            <th>Book Title</th>
            <th>Subject</th>
            <th>Author</th>
            <th>Available qty</th>
            <th>Borrow</th>

        {% for title, subject, count, author, id in results %}
                {% if new == id %}
                    <tr id="new">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ title }}</td>
                    <td>{{ subject }}</td>
                    <td>{{ author }}</td>
                    <td>{{ count }}</td>
                    {% if count == 0 %}
                        <td class="overdue">None Available!</td>
                    {% else %}
                        <td>
                            <a href="/borrow/{{ title }}">borrow</a>
                        </td>
                    {% endif %}
                </tr>
        {% endfor %} 
        </table>
    </div>
{% endblock %}