{% extends 'base.html' %}
{% block title %}
    borrows
{% endblock %}
{% block content %}
    <style>
        .returned {
            color: green;
        }
    </style>
    {% if borrows %}
    <form action="/view_borrows" method="get">
        <input type="submit" name="returned" value="unreturned">
    </form>
    <table border="1" cellpadding="2" cellspacing="2">
        <th>Student</th>
        <th>Class</th>
        <th>Librarian</th>
        <th>Book</th>
        <th>Date Borrowed</th>
        <th>Return Date</th>
        <th>Borrow State</th>
        {% for borrow in borrows %}
        {% if borrow_id == borrow.id %}
            <tr id="new">
        {% else %}
            <tr>
        {% endif %}
            <td>{{ borrow.borrower }}</td>
            <td>{{ borrow.borrower_class }}</td>
            <td>{{ borrow.librarian }}</td>
            <td>{{ borrow.book_title }}</td>
            <td>{{ borrow.borrow_date }}</td>
            <td>{{ borrow.return_date }}</td>
            {% if borrow.is_returned %}
                <td class='returned'><b>Returned</b></td>
            {% else %}
                <td><a href="/return/{{ borrow.id }}">Return Book</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>No borrows yet!!</h2>
    {% endif %}
{% endblock %}